.bd-highlight{ 
    color: gray;
}
.buy-now-button{ 
    background-color: black;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}
p{ 
    color: gray;
}